:root {
  --bg0: rgb(30, 30, 30);
  --bg1: rgb(16, 16, 20);
  --bg2: rgb(8, 8, 10);
  --fg0: white;
  --fg1: lightgray;
  --neon: rgb(0, 140, 255);

  --a: rgb(8, 8, 10);
  --b: rgb(16, 16, 20);
  --c: rgb(24, 24, 30);
}

@font-face {
  font-family: "tiny islanders";
  src: url("../assets/tiny-islanders.otf") format("woff");
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--fg1);
}

main {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  gap: 1px;
  background-color: white;
}

header,
footer {
  background-color: var(--bg1);
}

header {
  font-family: "tiny islanders", monospace;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

header h1 {
  margin: 0;
  margin-top: -0.35em;
  color: var(--fg1);
}

footer {
  flex-shrink: 0;
  padding: 0.5rem;
}

footer img {
  height: 2rem;
}

.content {
  background-color: var(--bg0);
  padding: 1rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  resize: horizontal;
  flex-grow: 0;
  flex-shrink: 0;
  row-gap: 1.5rem;
  width: 40%;
  max-width: 60%;
  height: 100%;
  overflow: auto;
}

.editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background-color: var(--bg0);
}

.code-editor {
  flex: 1;
  height: 100%;
  /* overflow: hidden; */
}

#monaco {
  width: 97%;
  height: 100%;
}

.editorButtons {
  flex: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-top: var(--fg1) 1px solid;
}

button,
select {
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  margin: 0 0.1rem;
  color: var(--fg1);
  font-weight: bold;
  padding: 0 1rem;
  cursor: pointer;
  background-color: var(--b);
}

button:hover,
select:hover {
  background-color: var(--a);
}

button:active,
select:active {
  background-color: var(--c);
}

.spacer {
  width: 0.5rem;
  height: 100%;
  display: inline-block;
}

#start-button,
#submit-button {
  display: none;
}

#stderr {
  color: red;
}

#stderr,
#stdout {
  margin: 0px;
}

.logo>a {
  text-decoration: none;
  color: inherit;
}

.links>a {
  margin-left: 50px;
}

a {
  color: var(--neon);
}

.mono-box {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  overflow-x: scroll;
  font-family: monospace, sans-serif;
  margin: 5px;
  padding: 0.6em;
  background-color: var(--bg2);
}

.test-case {
  margin-bottom: 1em;
  display: flex;
}

.test-input,
.test-output {
  display: inline-block;
  white-space: pre;
  flex-basis: 0;
  flex-grow: 1;
}

.selected-test {
  outline: 6px solid rgba(0, 238, 255, 0.65);
}

.failed-test>.mono-box {
  outline: 1px solid rgba(255, 0, 0, 0.65);
}

.successful-test>.mono-box {
  outline: 1px solid rgba(0, 255, 69, 0.65);
}

.problem-container,
.test-cases-container,
.output-container {
  padding: 0px 5px;
  outline: 5px solid rgba(255, 255, 255, 0.1);
  overflow-y: scroll;
  min-height: 12%;
}

.problem-container>h2,
.test-cases-container>h2,
.output-container>h2 {
  margin-top: 0;
  margin-bottom: 12px;
}

.editor .CodeMirror {
  height: 100%;
}

#output {
  min-height: 3em;
  margin-bottom: 1em;
}

.results-container {
  flex-direction: column;
}