html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}

header,
footer {
  background-color: rgb(113, 201, 13);
  min-height: 50px;
}

header {
  background-image: url(logo.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 10px;
}

footer {
  flex-shrink: 0;
}

.left-side {
  resize: horizontal;
  border-right: 1px solid black;
  margin-right: 10px;
  overflow: scroll;
  max-width: 60%;
  width: 45%;
}

.editor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.code-editor {
  flex: 1;
}
#monaco {
  width: 100%;
  height: 100%;
}

#stderr {
  color: red;
}
